{% extends 'layout.njk' %}

{% block head %}
    <title>Admin - Gerenciar Chefs</title>
{% endblock head %}

{% block header %}
    {% include 'admin/_headerAdmin.njk' %}
{% endblock header %}


{% block content %}
    <div class="index-admin chef">
        <div class="header-contents">
            <h2>Gerenciar chefs</h2>
            <div>
                <a class="form-button" href="/admin/chefs/create">Novo chef</a>
            </div>
        </div>

        <section class="cards admin">
            {% for chef in chefs %}
                <div class="card" id="{{chef.id}}">
                    <div class="card-image">
                        <img src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
                    </div>
                    <div class="card-info">
                        <p class="recipe-name">{{chef.name}}</p>
                        <a href="#">Visualizar</a>
                    </div>        
                </div>
            {% endfor %}   
        </section>
    </div>
{% endblock content %}
       