{% extends 'layout.njk' %}

{% block header %}
    {% include 'admin/_headerAdmin.njk' %}
{% endblock header %}

{% block content %}

    <div class="create-page">
        

        <form action="">
            <div class="header-contents">
                <h2>Criando receita</h2>
                <a href="#">Salvar receita</a>
            </div>

            {% include 'admin/_fieldsForm.njk'%}     
        </form>
    </div>

{% endblock content %}