{% extends 'layout.njk' %}

{% block head %}
    <title>Admin - Gerenciar Receitas</title>
{% endblock head %}

{% block header %}
    <header class="admin">
        <div class="header-container">
            <a href="/">
            <img src="/assets/logo.png" alt="food-logo">
            </a>
        </div>
    </header>   
{% endblock header %}


{% block content %}
    <h1 class="main-title">Gerenciar receitas</h1>

    <section class="cards admin">
        {% for recipe in recipes %}
            <div class="card" id="{{loop.index -1}}">
                <div class="card-image">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>
                <div class="card-info">
                    <p class="recipe-name">{{recipe.title}}</p>
                    <p class="recipe-author">por {{recipe.author}}</p>
                    <a href="#">Visualizar</a>
                </div>        
            </div>
        {% endfor %}
        
    </section>
{% endblock content %}
       