{% extends 'layout.njk' %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}


{% block content %}
    <section class="cards">
        {% for recipe in recipes %}
            <div class="card" id="{{loop.index -1}}">
            <div class="card-image">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            </div>
            <div class="card-info">
                <p class="recipe-name">{{recipe.title}}</p>
                <p class="recipe-author">por {{recipe.author}}</p>
            </div>
        </div>
        {% endfor %}
        
    </section>
{% endblock content %}
       