<div class="item">
    <div>Nome da receita</div>
    <input 
    type="text"
    name="title"
    placeholder="Insira o nome da receita"
    value="{{recipe.title}}"
    >
</div>

<div class="item">
    <div>Imagem da receita</div>
    <input 
    type="url"
    name="image"
    placeholder="Insira o link da imagem"
    value="{{recipe.image}}"
    >
</div>

<div class="item">
    <div>Autor da receita</div>
    <input 
    type="text"
    name="author"
    placeholder="Insira o nome do autor da receita"
    value="{{recipe.author}}"
    >
</div>

<div class="item">
    <div>Ingredientes</div>
    <div id="ingredients">
    {% if recipe.ingredients %}
        {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
            <input 
                type="text"
                name="ingredients[]" 
                value="{{ingredient}}" 
            />
            <button class="btn_delete_field">x</button>
        </div>

        {% endfor %}
        <div class="ingredient">
            <input 
            type="text"
            name="ingredients[]" 
            value="" 
            placeholder="Adicione um ingrediente por vez" 
            />
        </div>
    {% else %}
        <div class="ingredient">
            <input 
            type="text"
            name="ingredients[]" 
            value="" 
            placeholder="Adicione um ingrediente por vez" 
            />
        </div>
    {% endif %}
    </div>

    <button 
    type="button" 
    class="add-ingredient"
    >Adicionar novo ingrediente
    </button>
</div>

<div class="item">
    <div>Modo de preparo</div>

    <div id="preparations">

    {% if recipe.preparations %}
    {% for item in recipe.preparations %}
        <div class="preparation">
            <input 
                type="text" 
                name="preparations[]" 
                value="{{item}}" 
            />
            <button class="btn_delete_field">x</button>
        </div>
    {% endfor %}
    <div class="preparation">
            <input 
                type="text" 
                name="preparations[]" 
                value="" 
                placeholder="Adicione os modos por etapa" 
            />
        </div>
    {% else %}
        <div class="preparation">
            <input 
                type="text" 
                name="preparations[]" 
                value="{{recipe.preparations}}" 
                placeholder="Adicione os modos por etapa" 
            />
        </div>
    {% endif %}
    </div>

    <button 
        type="button" 
        class="add-preparation"
        >Adicionar novo passo
    </button>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <textarea 
    name="information" 
    id="info"
    value="{{recipe.information}}"
    >
        {{recipe.information}}
    </textarea>
    
</div>