{% extends 'layout.njk' %}

{% block header %}
    {% include 'admin/_headerAdmin.njk' %}
{% endblock header %}

{% block content %}

    <div class="create-page">
       
        <form method="POST" action="/admin/recipes" >
            <div class="header-contents">
                <h2>Criando receita</h2>
                <button type="submit" class="form-button">Salvar receita</button>
            </div>

            {% include 'admin/_fieldsForm.njk'%}     
        </form>

    </div>

{% endblock content %}