{% extends 'layout.njk' %}

{% block head %}
    <title>Admin - Gerenciar Receitas</title>
{% endblock head %}

{% block header %}
    {% include 'admin/_headerAdmin.njk' %}
{% endblock header %}


{% block content %}
    <div class="index-admin">
        <div class="header-contents">
            <h2>Gerenciar Receitas</h2>
            <div>
                <a class="form-button" href="/admin/recipes/create">Nova Receita</a>
            </div>
        </div>


        <section class="cards admin">
            {% for recipe in recipes %}
                <div class="card" id="{{loop.index -1}}">
                    <div class="card-image">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                    </div>
                    <div class="card-info">
                        <p class="recipe-name">{{recipe.title}}</p>
                        <p class="recipe-author">por {{recipe.author}}</p>
                        <a href="#">Visualizar</a>
                    </div>        
                </div>
            {% endfor %}
            
        </section>
    </div>
{% endblock content %}
       