{% extends 'layout.njk' %}

{% block head %}
    <title>Sobre Nós</title>
{% endblock head %}


{% block content %}
    <div class="allContentAbout">
        <div class="aboutContent">
            <h1>Sobre o Foodfy</h1>
            <p class="regularText">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum consequat sem, 
                sagittis cursus odio finibus eget. Praesent mattis tellus mi, eu mollis tortor hendrerit id. 
                Nam eu ante eget odio faucibus cursus. Proin feugiat tincidunt maximus. Integer sit amet 
                sagittis erat. Duis porta, mauris eu sollicitudin consequat, purus lectus condimentum odio, 
                ac dignissim quam leo at metus. Vestibulum eu ultricies diam. Praesent tincidunt nisi cursus 
                quam semper, non molestie lectus tempus. Duis vestibulum sem vel sapien aliquet, et ornare 
                neque iaculis. In lacinia euismod aliquam.
            </p>
            
            <p class="regularText">
                <br>Morbi augue est, volutpat at mattis ac, viverra eget tortor. Proin sem erat, vestibulum in 
                accumsan nec, auctor id velit. Sed eu egestas nibh. Nulla consequat tellus enim. Nullam 
                dapibus dolor ac mauris facilisis semper. Vestibulum consequat, ante id fringilla tincidunt, 
                dui ligula feugiat nunc, vitae pulvinar eros augue et massa. Sed ut quam eleifend, suscipit 
                ex eget, posuere purus. Morbi leo libero, consequat congue urna vel, vulputate tincidunt erat.
            </p>
        </div>
        <div class="regularContent">
            <h2>Como tudo começou...</h2>
            <p class="regularText"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dictum consequat sem, 
                sagittis cursus odio finibus eget. Praesent mattis tellus mi, eu mollis tortor hendrerit id. 
                Nam eu ante eget odio faucibus cursus. Proin feugiat tincidunt maximus. Integer sit amet 
                sagittis erat. Duis porta, mauris eu sollicitudin consequat, purus lectus condimentum odio, 
                ac dignissim quam leo at metus. Vestibulum eu ultricies diam. Praesent tincidunt nisi cursus 
                quam semper, non molestie lectus tempus. Duis vestibulum sem vel sapien aliquet, et ornare 
                neque iaculis. In lacinia euismod aliquam.
            </p>
            <p class="regularText">
                Morbi augue est, volutpat at mattis ac, viverra eget tortor. Proin sem erat, vestibulum in 
                accumsan nec, auctor id velit. Sed eu egestas nibh. Nulla consequat tellus enim. Nullam 
                dapibus dolor ac mauris facilisis semper. Vestibulum consequat, ante id fringilla tincidunt, 
                dui ligula feugiat nunc, vitae pulvinar eros augue et massa. Sed ut quam eleifend, suscipit 
                ex eget, posuere purus. Morbi leo libero, consequat congue urna vel, vulputate tincidunt erat.
            </p>
            <h2>Nossas receitas</h2>                  
            <p class="regularText">
                Morbi augue est, volutpat at mattis ac, viverra eget tortor. Proin sem erat, vestibulum in 
                accumsan nec, auctor id velit. Sed eu egestas nibh. Nulla consequat tellus enim. Nullam 
                dapibus dolor ac mauris facilisis semper. Vestibulum consequat, ante id fringilla tincidunt, 
                dui ligula feugiat nunc, vitae pulvinar eros augue et massa. Sed ut quam eleifend, suscipit 
                ex eget, posuere purus. Morbi leo libero, consequat congue urna vel, vulputate tincidunt erat.
            </p>
        </div>
    </div>
{% endblock content %}