<header class="admin">
        <div class="header-container">
            <nav>
                <a class="logo-link" href="/">
                    <img src="/assets/logo.png" alt="food-logo">
                </a>
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </nav>
        </div>
</header> 