<header class="admin">
        <div class="header-container">
            <a href="/">
                <img src="/assets/logo.png" alt="food-logo">
            </a>
            <nav>
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </nav>
        </div>
</header> 