{% extends 'layout.njk' %}

{% block header %}
    {% include 'admin/_headerAdmin.njk' %}
{% endblock header %}

{% block content %}

    <div class="edit-page">   
        <div class="header-contents">
            <h2>Editando receita</h2>
            <div>
                <button type="submit" class="form-button delete-button" form="form-delete">Deletar</button>
                <button type="submit" class="form-button" form="form-post">Salvar receita</button>
            </div>
        </div> 
        <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
            <input type="hidden" name="id" value={{recipe.id}}>
        </form>    
        <form id="form-post" action="/admin/recipes/{{recipe.id}}?_method=PUT" method="POST">
            {% include 'admin/recipes/_fieldsForm.njk'%}                
        </form>
    </div>

<script src="/addItensInput.js"></script>
<script src="/formDelete.js"></script>
{% endblock content %}