
<form action="/recipes/search" method="GET">
    <input 
        type="text" 
        name="filter"
        placeholder="Buscar uma receita"
        value={{filter}}
    >
    <button type="submit" class="form-button">Filtrar</button>
</form>
